.container
	background: grey
	
li 
	display: inline-block
	background: grey
	border: 2px solid black
	width: 120px
	height: 50px
	border-radius: 10px

li:hover
	background: #efefef

.navbar_wrap
	float: left
	background: red

.search
	position: relative
	left: 100px